.container {
  --max-width: 70em;
  margin-inline: auto;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
}

.grid {
  display: grid;
  grid-template-columns: 2fr;
}

.gap-sm {
  gap: var(--gap-sm);
}

.gap-md {
  gap: var(--gap-md);
}

.gap-lg {
  gap: var(--gap-lg);
}

.d-flex {
  display: flex;
  align-items: center;
}