.container {
  --max-width: 80em;
  margin-inline: auto;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.gap-sm {
  gap: var(--gap-sm);
}

.gap-md {
  gap: var(--gap-md);
}

.gap-lg {
  gap: var(--gap-lg);
}

.px-sm {
  padding-inline: var(--px-sm);
}

.px-md {
  padding-inline: var(--px-md);
}

.px-lg {
  padding-inline: var(--px-lg);
}

.py-sm {
  padding-block: var(--py-sm);
}

.py-md {
  padding-block: var(--py-md);
}

.py-lg {
  padding-block: var(--py-lg);
}

.d-flex {
  display: flex;
  align-items: center;
}

.between {
  justify-content: space-between;
}

.justify-items-center {
  justify-items: center;
}